<%= form_with scope: :item, url: items_path, local: true do |form| %>
    <p>
        <%= form.label :filename %><br>
        <%= form.text_field :filename %>
    </p>
    <p>
        <%= form.label :content_type %><br>
        <%= form.text_field :content_type %>
    </p>
    <p>
        <%= form.label :file %><br>
        <%= form.file_field :file %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>