<% @uploads.each do |upload| %>
	<% upload.files.each do |file| %>
		<div class="fileContainer" title="Uploaded on: <%=formatted_date(file.created_at) %>">
			<%= link_to(upload, class: "fileContainer") do %>
				<% if is_image(file) %>
					<div class="imageContainer">
						<%= image_tag(file, alt: file.filename)  %>
					</div>
				<% elsif file.content_type == "video/mp4" %>
					<div class="videoContainer">
						<%= video_tag rails_blob_path(file), controls: true %>
					</div>
				<% end %>
			<% end %>
				<div class="downloadContainer">
					<%= link_to image_tag("download_icon.svg"), rails_blob_path(file, disposition: "attachment"), title: "Download file" %>
				</div>
			<% if is_owner(upload) %>
				<div class="removeContainer">
					<%= link_to image_tag("trash_icon.svg"), delete_image_attachment_upload_url(file.id), method: :delete,
		                data: { confirm: 'Are you sure you wish to delete this?' }, title: "Delete file" %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<%= will_paginate @uploads %>