<% @uploads.each do |upload| %>
	<% upload.files.each do |file| %>
		<div class="fileContainer" title="Uploaded on: <%=formatted_date(file.created_at) %>">
			<%= link_to(upload, class: "fileContainer") do %>
				<% if file.content_type == "image/jpeg" || file.content_type == "image/png" %>
					<div class="imageContainer">
						<%= image_tag(file, alt: file.filename)  %>
					</div>
				<% elsif file.content_type == "video/mp4" %>
					<div class="videoContainer">
						<%= video_tag rails_blob_path(file), controls: true %>
					</div>
				<% end %>
			<% end %>
			<div class="removeContainer" title="Delete file">
				<%= link_to 'X', delete_image_attachment_upload_url(file.id), method: :delete,
	                data: { confirm: 'Are you sure you wish to delete this?' } %>
			</div>
		</div>
	<% end %>
<% end %>