<%= form_with scope: :upload, url: uploads_path, local: true do |form| %>
    <p>
        <%= form.label :files %><br>
        <%= form.file_field :files, multiple: true %>
    </p>
    <p>
        <%= form.label :tags %><br>
        <%= form.text_field :tags %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>