<% @upload.files.each do |file| %>
	<div class="uploadContainer">
		<% if is_owner(@upload) %>
			<div class="removeContainer">
				<%= link_to 'Remove', delete_image_attachment_upload_url(file.id),
		            method: :delete,
		            data: { confirm: 'Are you sure you wish to delete this?' } %>
			</div>
		<% end %>
		<div class="fileContainer" title="Filename: <%= file.filename %>">
			<% if file.content_type == "image/jpeg" || file.content_type == "image/png" %>
				<div class="imageContainer">
					<%= image_tag(file, alt: file.filename)  %>
					<div class="fileSize">
						Original: <%= bytes_to_megabytes(file.byte_size) %> MB
					</div>
					<div class="externalLink" title="Open source file">
						<%= link_to 'External', Rails.application.routes.url_helpers.rails_blob_path(file, only_path: true) %>
					</div>
				</div>
				<div class="imageContainer">
					<%= image_tag file.variant(resize: "500x500") %>
					<div class="fileSize">
						500x500 | <%= bytes_to_megabytes(file.byte_size) %> MB
					</div>
					<div class="externalLink" title="Open source file">
						<%= link_to 'External', Rails.application.routes.url_helpers.rails_representation_url(file.variant(resize: "500x500"), Rails.application.config.action_mailer.default_url_options) %>
					</div>
				</div>
				<div class="imageContainer">
					<%= image_tag file.variant(resize: "250x250") %>
					<div class="fileSize">
						250x250 | <%= bytes_to_megabytes(file.byte_size) %> MB
					</div>
					<div class="externalLink" title="Open source file">
						<%= link_to 'External', Rails.application.routes.url_helpers.rails_representation_url(file.variant(resize: "250x250"), Rails.application.config.action_mailer.default_url_options) %>
					</div>
				</div>
			<% else %>
				<div class="videoContainer">
					<%= video_tag rails_blob_path(file), controls: true %>
				</div>
			<% end %>
		</div>
		<div class="uploadDetailsContainer">
			<div>
				Uploaded by: <%= @uploaded_by %>
			</div>
			<div>
				Uploaded on: <%=formatted_date(@upload.created_at)%>
			</div>
			<div>
				Tags: <%= raw @upload.tags.map(&:name).map { |t| link_to t, uploads_path(tag: t) }.join(', ') %>
			</div>
		</div>
	</div>
<% end %>