<nav>
	<div class="navbarContents">
		<% if current_user %>
			<%= link_to('+', new_upload_path) %>
			<%= link_to('My Uploads', uploads_path(user: current_user.username)) %>
			<label for="avatarUpload" title="Click to change your avatar">
				<% if current_user.avatar.attached? %>
			    	<%= image_tag current_user.avatar.variant(resize: "100x100"), class: "avatar" %>
			    <% else %>
			    	<%= image_tag("avatar_icon.svg", class: "avatar")  %>
			    <% end %>
			</label>
			<%= form_for(current_user, as: :user, url: update_avatar_path(:user), html: { method: :put }) do |f| %>
				<%= f.file_field :avatar, id: "avatarUpload", onchange: "this.form.submit()" %>
				<%= f.submit "Update", id: "updateAvatar" %>
			<% end %>
			<% if current_user.admin? %>
				<%= link_to('Admin', admin_settings_path) %>
			<% end %>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		<% else %>
			<%= link_to('Login', new_user_session_path) %>
			<%= link_to('Sign Up', new_user_registration_path) %>
		<% end %>
	</div>
	<div class="navbarMobile">
		<button class="hamburger hamburger--3dx" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		<ul class="navbarMobileLinks">
			<% if current_user %>
				<li>
					<%= link_to('Add New Upload', new_upload_path) %>
				</li>
				<li>
					<%= link_to('My Uploads', uploads_path(user: current_user.username)) %>
				</li>
				<% if current_user.admin? %>
					<li>
						<%= link_to('Admin', admin_settings_path) %>
					</li>
				<% end %>
				<li>
					<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
				</li>
			<% else %>
				<li>
					<%= link_to('Login', new_user_session_path) %>
				</li>
				<li>
					<%= link_to('Sign Up', new_user_registration_path) %>
				</li>
			<% end %>
		</ul>
	</div>
</nav>