<div class="sidebar">
	<div class="main">
		<div>
			<%= link_to "Today", uploads_path(date_range: "today") %>
		</div>
		<div>
			<%= link_to "Last 30 days", uploads_path(date_range: "30_days") %>
		</div>
		<div>
			<%= link_to "Last year", uploads_path(date_range: "last_year") %>
		</div>
	</div>
	<div class="tags">
		<div class="heading">
			Most popular tags
		</div>
		<% @tags.each do |tag| %>
			<div>
				#<%= link_to tag, uploads_path(tag: tag.name) %>
			</div>
		<% end %>
	</div>
	<% if @most_recent_tags.length > 0 %>
		<div class="tags">
			<div class="heading">
				Your most recent tags
			</div>
			<% @most_recent_tags.each do |tag| %>
				<% if tag_object(tag) %>
					<div>
						#<%= link_to tag, uploads_path(tag: tag_object(tag)) %>
					</div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>