<div class="sidebar active">
	<div class="main">
		<%= link_to "Today", uploads_path(date_range: "today") %>
		<%= link_to "Last 7 days", uploads_path(date_range: "7_days") %>
		<%= link_to "Last 30 days", uploads_path(date_range: "30_days") %>
		<%= link_to "Last year", uploads_path(date_range: "last_year") %>
	</div>
	<div class="tags">
		<div class="heading">
			Most popular tags
		</div>
		<% @tags.each do |tag| %>
			<div class="sidebarLinkRow">
				<%= link_to uploads_path(tag: tag.name) do %>
					#<%= tag.name %>
				<% end %>
			</div>
		<% end %>
	</div>
	<% if @most_recent_tags.length > 0 %>
		<div class="tags">
			<div class="heading">
				Your most recent tags
			</div>
			<% @most_recent_tags.each do |tag| %>
				<% if tag_object(tag) %>
					<%= link_to uploads_path(tag: tag_object(tag)) do %>
						#<%= tag %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>